<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

@using Foodbook.Controllers

@if (ViewData["Username"] is null || ((String ?) ViewData["Username"]) == "") {
    <h1 class="text-center">Please log in to continue</h1>
} else {
    @if(ViewData["MealPlan"] is not null){
    <h1 class="text-center">Welcome, @ViewData["Username"]!</h1>
    <h2 class="text-center">Add new recipe to Meal Plan</h2>
    <form class="pure-form" method="post">
        <label>Meal Plan</label>
        @* <input type="text" name="mealPlan" placeholder="MealPlan" class="form-control" value="@ViewData["MealPlan"]" readonly/> *@
        <label>Recipe</label>
        <select name="recipe-id" class="form-control">
            @foreach (RecipeModel recipe in (ViewData["Recipes"] as RecipeModel[])) {
                <option value="@recipe.RecipeId">@recipe.Title</option>
            }
        </select>
        <label>Day of Week</label>
        <select name="dayOfWeek" class="form-control">
            @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
            {
                <option value="@day">@day</option>
            }
        </select>
        <label>Recipe category:</label>
        <select name="recipe-category-id" class="form-control" >
            @foreach (RecipeCategoryModel category in (ViewData["RecipeCategories"] as RecipeCategoryModel[])) { 
                @if (category.RecipeCategoryId == (int ?) ViewData["recipe-category-id"]) {
                    <option value="@category.RecipeCategoryId" selected >@category.CategoryName</option>
                } else {
                    <option value="@category.RecipeCategoryId" >@category.CategoryName</option>
                }
            }
        </select>
        <br/><input type="submit" value="Add" class="pure-button pure-button-primary" />
    </form>
    <h2 class="text-center">@ViewData["AddItemToPlanMessage"]</h2>
    }
}
