
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

@if (ViewData["Username"] is null || string.IsNullOrEmpty((string)ViewData["Username"]) || !(ViewData["RecipeCategories"] is RecipeCategoryModel[])) {
    <h1 class="text-center">Please log in to continue</h1>
} else {
    <h1 class="text-center">Welcome, @ViewData["Username"]!</h1>
    <h2 class="text-center">Edit recipe</h2>

    <form class="pure-form" method="post">
        <label>Title:</label>
        <input type="text" name="title" placeholder="Title" class="form-control" value="@ViewData["title"]" />
        
        <label>Author:</label>
        <input type="text" name="author" placeholder="Author" class="form-control" value="@ViewData["author"]" readonly />
        
        <label>Description:</label>
        <input type="text" name="description" placeholder="Description" class="form-control" value="@ViewData["description"]" />
        
        <label>Ingridients:</label>
        <input type="text" name="ingridients" placeholder="Ingridients" class="form-control" value="@ViewData["ingridients"]" />
        
        <label>Instructions:</label>
        <input type="text" name="instructions" placeholder="Instructions" class="form-control" value="@ViewData["instructions"]" />
        
        <label>Publication date:</label>
        <input type="date" name="publication-date" placeholder="Publication Date" class="form-control" value="@ViewData["publication-date"]" />
        
        <label>Recipe category:</label>
        <select name="recipe-category-id" class="form-control" >
            @foreach (RecipeCategoryModel category in (ViewData["RecipeCategories"] as RecipeCategoryModel[])) { 
                @if (category.RecipeCategoryId == (int ?) ViewData["recipe-category-id"]) {
                    <option value="@category.RecipeCategoryId" selected >@category.CategoryName</option>
                } else {
                    <option value="@category.RecipeCategoryId" >@category.CategoryName</option>
                }
            }
        </select>

        <br />
        <input type="submit" value="Edit" class="pure-button pure-button-primary" />
    </form>

    <h2 class="text-center">@ViewData["EditRecipeMessage"]</h2>
}
